
.card{
    text-align: center;
}


.button_verde{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    text-transform: uppercase;

}
.fondo{
    background-color: black;
}
    
.carta{
    min-height: 120px;
}